:root {
    --black: #000;
    --orange: #FF6336;
    --white: white;
    --grey: #CCCCCC;
    --background-lokalization: #FF9C7D;
    --background-software: #DABC98;
    --background-quote: #C9E8F2;
    --background-potential: #FFF8E4;
    --background-partners: #FF9C7D;
    --background-button_1: var(--orange);
    --background-button_2: var(--white);
    --hover-link: var(--orange);
}

body {
    font: 400 20px/30px "Graphik LCG", Arial, Helvetica, sans-serif;
    color: var(--black);
    margin: 0px;
}

#wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1340px;
    padding: 0 20px;
    margin: 0 auto;
}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--black);
}

h1,
h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;

}