.btn {
    display: flex;
    list-style: none;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(45/16);
    margin: 0px;
    padding: 0px;

    li:nth-child(2) {
        padding-left: 13px;
    }

}

.btn-white-small {
    border: 1px solid var(--black);
    padding: 14px 34px;
    background: var(--white);
    white-space: nowrap;

    &:hover {
        color: var(--orange);
    }
}

.btn-orange-small {
    color: var(--white);
    background: var(--orange);
    padding: 15px 22px;
    white-space: nowrap;

    &:hover {
        color: var(--black);
    }
}

.intro-content .btn {
    li:nth-child(1) {
        margin-left: 15px;
    }

    li:nth-child(2) {
        padding-left: 0px;
    }

}

.intro-content .btn-orange-small {
    padding: 23px 44px;

}

.intro-content .btn-white-small {
    padding: 22px 28px;
}

.intro-content .btn {
    flex-direction: row-reverse;
    padding: 31px 0px 16px 0px;

    @media (min-width: 768px) {
        justify-content: flex-end;
    }

    @media (max-width: 767px) {
        justify-content: center;
        width: 100%;
    }

    >li {
        @media (max-width: 767px) {
            width: 50%;

            a {
                display: block;
                width: 100%;
                text-align: center;
                padding: 10px 22px;
            }
        }
    }
}